[Unit]
Description=Check if connected to drone and then update time from its ntp server
After=network-online.target
Wants=network-online.target
User=emli

[Service]
Type=simple
ExecStart=/home/emli/EMLI-mini-project/src/RPi/Networking/update_time.sh

[Install]
WantedBy=multi-user.target
