[Unit]
Description=RainDetector UART MQTT
User=emli

[Service]
Type=simple
ExecStart=/home/emli/EMLI-mini-project/src/RPi/RainDetector/rain_detector_UART_MQTT.sh


[Install]
WantedBy=multi-user.target